services:
  - type: web
    name: wa-bot
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "node server.js"
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /health
